
<% if (page.title) {%>
    <div class="post-head">
        <div class="post-info">
            <div class="post-title">
                <%= page.title %>
            </div>
        </div>
        <div class="h-line-primary"></div>
    </div>
<% } %>